<!DOCTYPE html>

<html lang="{{ currentSite.language }}">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="shortcut icon" href="/favicon.ico" />
    <title>
      {% if title is defined %}
        {{ title }} -
      {% endif %}{{ siteName }}
    </title>
    <link rel="home" href="{{ siteUrl }}" />

    {{ craft.vite.script('resources/js/main.js', false) }}
  </head>

  <body>
    {# Use cache key to prevent caching header for every single url, and cache only once
        read more here https://nystudio107.com/blog/the-craft-cache-tag-in-depth
    #}
    {% cache globally using key 'page-header' if not craft.app.config.general.devMode %}
      {% include 'partials/header' %}
    {% endcache %}

    <main id="top">
      {% block content %}

      {% endblock %}
    </main>

    {% cache globally using key 'page-footer' if not craft.app.config.general.devMode %}
      {% include 'partials/footer' %}
    {% endcache %}
  </body>
</html>
